body {
	font-family: 'Open Sans', sans-serif;
}
* {
/*	outline: 1px solid red;*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

nav{
	position: sticky;
	background-color: white;
	top: 0;
 	padding: 1.3rem;
	min-height: 10vh;
}

nav .right-nav {
	margin-right: 6rem;
	margin-left: 3rem;
	
}

div {
	float: right;
}
div .nav {
	display: inline;
	margin-left: 1.5rem;	
	font-size: 0.8rem;
	font-weight: bold;
}
ul .nav-logo {
	float: left;
	margin-left: 4rem;
	list-style-type: none;
}

nav .tuitt-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	font-size: 0.7rem;
	border-radius: 35px;
	padding: 0.7rem;
	border:none;	
}
#bg-image {
	
	min-height: 50vh;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	background-attachment: scroll;
}

.front-bg {
	background: rgba(0,0,0,0.5);
	min-height: 50vh;
	text-align: right;
}
.container {
	padding: 1rem;
	width: 36%;
	margin-right: 7.3rem;
	color: white;
}

.title {
	font-family: 'Zilla Slab';
	margin-bottom: 2rem;
	font-size: 2.3rem;
	padding-left: 1rem;
} 
.subtitle {
	margin-bottom: 1rem;
	font-size: 1rem;
	padding-left: 8rem;
	font-weight: lighter;
}
section .apply-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	font-size: 0.8rem;
	border-radius: 30px;
	padding: 0.5rem;
	padding-right: 2.3rem;
	padding-left: 2.3rem;
	border:none;
} 
.intro {
	text-align: center;
	padding: 2rem;
	margin-top: 1.5rem;
}

.intro p {
	text-align: justify;
	margin-bottom: 0.8rem;
}
section .intro-description {
	display: inline-block;
	vertical-align: top;
	padding: 0.4rem;
	width: 75%;
	margin-top: 1rem;
}

.pre-footer {
	background-color: #f7fbfb;
	text-align: center;
	padding: 2rem;
	margin-top: 1.5rem;
}

.pre-footer p {
	margin-bottom: 0.8rem;
}
section .prefooter-description {

	padding: 0.4rem;
	width: 67%;
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: auto;
	margin-right: auto;

}

section .book-button {
	color: white;
	font-weight: bold;
	background-color: #336589;
	font-size: 0.7rem;
	border-radius: 30px;
	padding: 0.8rem;
	padding-right: 2.3rem;
	padding-left: 2.3rem;
	border:none;
} 

footer {
	padding: 0.5rem;
	text-align: center;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	
}